{
    "openapi": "3.0.0",
    "info": {
        "title": "API P7",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "http://api.p7.fr/v1",
            "description": "Mon api"
        }
    ],
    "paths": {
        "/api/clients/{id}": {
            "get": {
                "operationId": "App\\Controller\\ClientController::showAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id du client",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Le client",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Client"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "App\\Controller\\ClientController::updateAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id du client",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Client"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Un client",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Client"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "App\\Controller\\ClientController::deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id du client",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Un client",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Client"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/clients": {
            "get": {
                "operationId": "App\\Controller\\ClientController::listAction",
                "responses": {
                    "200": {
                        "description": "Les clients",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Client"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "App\\Controller\\ClientController::createAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Client"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Un client",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Client"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/phones/{id}": {
            "get": {
                "operationId": "App\\Controller\\PhoneController::showAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id du téléphone",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Le téléphone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Phone"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "App\\Controller\\PhoneController::updateAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id du téléphone",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Phone"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Un téléphone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Phone"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "App\\Controller\\PhoneController::deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id du téléphone",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Un téléphone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Phone"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/phones": {
            "get": {
                "operationId": "App\\Controller\\PhoneController::listAction",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "La page a consulter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nos téléphones",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Phone"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "App\\Controller\\PhoneController::createAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Phone"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Un téléphone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Phone"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Client": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "nom": {
                        "type": "string"
                    },
                    "prenom": {
                        "type": "string"
                    },
                    "mail": {
                        "type": "string"
                    },
                    "adresse": {
                        "type": "string"
                    },
                    "telephone": {
                        "type": "string"
                    },
                    "dateAjoutAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Phone": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "nom": {
                        "type": "string"
                    },
                    "reference": {
                        "type": "string"
                    },
                    "couleur": {
                        "type": "string"
                    },
                    "dimension": {
                        "type": "string"
                    },
                    "prix": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    }
}